body {
  background-color: #1b262c;
}

.card {
  background-color: rgba(255,255,255,0.1);
  height: 95%;
}

p > a, h6 > a {
  color: white !important;
}

.card-header > .icon {
  margin-top: 10px;
}

.special-skill-item {
  border-radius: 15px;
}

